.h1-ab{
   
   display: flex;
   align-items: center;
   font-family: Arial;
   font-weight: 800;
   padding-bottom: 1rem;
   border-bottom: 1px solid black;
   justify-content: center;
}
.h1-ab span{
    color:rgb(16, 98, 145);
    margin-left: 1rem;
    filter: drop-shadow(1px 1px 2px);
}
.container-about{
  padding-top: 5rem;
}
.content-ab{
   
  display: flex;
 justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  color: rgb(0, 0, 0);
}
.ab-img{
    max-width: 45%;
    height: 23rem;
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
    background-color: black;
    justify-content: center;
   align-items: center;
}
.p-ab{
   width: 90%;
   max-width: 600px;
    display: flex;
    letter-spacing: 1px;
    line-height: 2.4;
   text-align: justify;
    font-family: Arial;
    
}

.a-ab{
    color: white;
    display: block;
    margin-top: 2rem;
    box-shadow: 0px 0px 9px;
    font-family: Arial;
    border-radius: 1rem;
    font-weight: 600;
    transition: all  0.6s ease-in-out;
    width: max-content;
    padding: 0.50rem 1.1rem;
    background-color: black;
    text-decoration: none;
}
.a-ab:hover{
    font-weight: 600;
    color: #000;
    background-color: white;
}
@media (width < 51rem){
    .p-ab{
    width: 100%;
    line-height: 1.8;
    }
    .ab-img{
        width: 100%;
      max-width: 600px;
      height: auto;
      object-fit: cover;
    }
}

