 .sing-up-img{
    width: 50%;

}
*{
    margin: 0;
    padding: 0;
}
body{
  
  background-image: url(../images/hunters-race-MYbhN8KaaEc-unsplash.jpg); 
  background-position: center;
  background-attachment: fixed;
  background-size:cover; 
  background-repeat: no-repeat;
}
.sing-h1{
    border-radius: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
    font-weight: 900;
    color:#ffffff;
    filter: drop-shadow(0px 0px 1px black );
}
.content-Us{
    box-shadow: 0px 0px 9px white;
    filter: drop-shadow(0px 0px 9px);
    display: block;
    border-radius: 1rem;
    font-family: Arial;
    border: 1px solid white;
   padding: clamp(1.3rem, -3rem + 16vw, 1.5rem);
   background:linear-gradient(to left,#1E3A5F,#87CEFA);
    align-items: center;
    text-align: center;
    justify-content: center;
}
.form-us{
    padding-top: 1rem;
}
.content-Us label ,#ms {
    display: block;
    color: white;
    letter-spacing: 1px;
    filter: drop-shadow(0px 0px 1px);
    text-align: start;
    padding: 0.30rem;
}
.content-Us input:not(.sd-input){
    display: block;
    padding-left: 1rem;
    height: 2.4rem;
    font-size: 1rem;
    width: 95%;
    outline: none;
    border: 1px solid black;
    border-radius: 0.50rem;
}

.container-contact-us{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgba(4, 4, 4, 0.437);
}
.sd-input{
margin-top: 1rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
     background:linear-gradient(to left,#ffffff,#87CEFA);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0.30rem;
    font-size: 1rem;
   width: 100%;
box-shadow: 0px 0px 3px black;
     padding: 0.50rem 1.3rem;
}
.back{
    transition: all 0.3s linear;
    color: white;
    position: absolute;
    left: 1rem;
    font-weight: bold;
    font-family: Arial;
    font-size: 1rem;
    text-decoration: none;
    padding: 0.30rem 0.50rem;
     border-radius: 1rem;
    background-color: black;
}
.back:active{
    transform: rotate(180deg);
}
#ms{
    width: 96%;
    font-family: Arial;
}