.sing-up-img{
    width: 50%;

}
*{
    margin: 0;
    padding: 0;
}
body{
  
  background-image: url(../images/hunters-race-MYbhN8KaaEc-unsplash.jpg); 
  background-position: center;
  background-attachment: fixed;
  background-size:cover; 
  background-repeat: no-repeat;
}
.sing-h1{
    display: flex;
   
    align-items: center;
    justify-content: center;
    font-weight: 900;
    color:#ffffff;
    padding-bottom: 1rem;
}
.sing-h1::after,.sing-h1::before{
    content: '';
    height: 1px;
   flex: 1;
   margin: 0 10px;
   
    background-color: black;
}
.content-sing-up{
    box-shadow: 0px 0px 9px white;
    filter: drop-shadow(0px 0px 9px);
    border: 1px solid white;
    border-radius: 1rem;
    font-family: Arial;
   padding: 1rem 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
  
   flex-direction: column;
   position: relative;
   background:linear-gradient(to left,#1E3A5F,#87CEFA);
   
}
.center-s{
    text-align: center;
    align-items: center;
    justify-content: center;

}



.box-f{
  display: flex;
 gap: 0.40rem;
}
.box-1-l{
 color: white;
}
.content-sing-up input:not(.btn-sing,.box-1-i){
   padding-left: 1rem;
    height: 2.4rem;
    margin-top: 0.20rem;
    width: 43%;
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.50rem;
}
input,textarea::placeholder{
font-family: Arial;

}

#f-3{
   
display: block;
 width: 93%;
   
}
#expérience,#formation{
    outline: none;
  width: 97%;
     margin-top: 0.20rem;
     height: 3.5rem;
    display: block;
    border-radius: 3px;
}






.container-sing-up{
    display: flex;
    padding: 1rem;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgba(4, 4, 4, 0.437);
}
.btn-sing{
    width: 97%;
    margin-top: 1rem;
    color: rgb(0, 0, 0);
     background:linear-gradient(to left,#ffffff,#87CEFA);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0.30rem;
    font-size: 1rem;
    padding: 0.50rem 1rem;
   
 
   

}
.back{
    transition: all 0.3s linear;
    color: white;
    position: absolute;
    left: 1rem;
    font-weight: bold;
    font-family: Arial;
    font-size: 1rem;
    text-decoration: none;
    padding: 0.30rem 0.50rem;
     border-radius: 50%;
   background-color: black;
}
.back:active{
    transform: rotate(180deg);
}


